@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align: center;">
    <h1>Contoso University</h1>
    <img src="/pexels-pixabay-256490.jpg" style="width: 50%; border-radius: 20px;">
</div>
<div class="row">
</div>